:root {
	--mainColour:#606B56;
	--secondaryColour:#515a48;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;
	
	--buttonColor:#669966;
}
